.sidebar {
  width: 16.66666667%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
}

/* profile image */
.profile-img {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 30px;
}
.profile-name {
  font-size: 22px;
  font-weight: 700;
}
.nav-item {
  position: relative;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s;
  color: #000000b3;
  font-size: 12px;
  text-align: center;
  padding-inline: 0px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;


  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -1px;
    width: 0px;
    height: 1px;
    background-color: #2c98f0;
    transition: all 0.3s ease-in-out;
  }

  &:hover::after {
    width: 100%;
    left: 0;
  }
  &.active {
    color: #2c98f0;
  }
}

.jop-desc {
  font-size: 12px;
  text-transform: uppercase;
  span {
    color: #2c98f0 !important;
  }
}
