<div class="page-container  container py-5 mt-lg-0 mt-3 d-lg-flex d-block flex-column justify-content-center vh-100">
  <p class="page-title">MY SPECIALTY</p>
  <h2 class="page-heading">MY SKILLS</h2>
  <p class="page-text">The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question
    Marks and devious
    Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and
    made
    herself on the way.</p>
  <div class="row">
    <div class="col-md-6">
      <app-progress-bar title="Photoshop" color="bg-custom-1" textColor="text-custom-1"  [percentage]="75"></app-progress-bar>
      <app-progress-bar title="HTML5" color="bg-custom-3" textColor="text-custom-3" [percentage]="85"></app-progress-bar>
      <app-progress-bar title="WordPress" color="bg-custom-5" textColor="text-custom-5" [percentage]="70"></app-progress-bar>
    </div>
    <div class="col-md-6">
      <app-progress-bar title="jQuery" color="bg-custom-2" textColor="text-custom-2" [percentage]="60"></app-progress-bar>
      <app-progress-bar title="CSS3" color="bg-custom-4" textColor="text-custom-4" [percentage]="90"></app-progress-bar>
      <app-progress-bar title="SEO" color="bg-custom-6" textColor="text-custom-6" [percentage]="80"></app-progress-bar>
    </div>
  </div>


</div>
